<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h2>Main page</h2>
</div>
{{#if isLogged}}
    <form action="/logout" method="get">
        <input type="submit" value="log out" >
    </form>

    <h3>List of users</h3>
    {{#each users}}
        <ul>
            <li>{{this.nickname}}</li>
        </ul>

    {{/each}}
{{else}}
    <header>
        <div>
            <form action="/login" method="get">
                <input type="submit"  value="Login" >
            </form>
            <form action="/registration" method="get">
                <input type="submit" value="Registration">
            </form>
        </div>
    </header>
    <div><h1>Welcome to our page. U can login or registration</h1></div>
    {{/if}}

</div>

</body>
</html>