<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/registration" method="post">
    <p>Enter email</p>
    <input type="email">
    <p>Enter nickname</p>
    <input type="text" name="nickname">
    <p>Enter password</p>
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>
</body>
</html>