<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#if isLogged}}
    <h3>User</h3>
    <p>User nickname: {{user.nickname}}</p>
{{else}}
    <h1>Sorry but you are not authorized</h1>
    <form action="/" method="get">
        <input type="submit" value="return to main page">
    </form>
{{/if}}
</body>
</html>