<ul>
  <li><a routerLink=""
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Home</a></li>
  <li><a routerLink="allTodo"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Full list of Todo Items</a></li>
  <li><a routerLink="addTodo"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Add Todo Item</a></li>
  <li><a routerLink="author"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">About author</a></li>
</ul>

<router-outlet></router-outlet>
